body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: red;
    background-color: blanchedalmond;
}
p {
    color: deepskyblue;
    background-color: black;
}
ul {
    background-color: cadetblue;
}
q {
    color:crimson
}